body{
	padding-top:75px;
	margin:0px;
}

h2.name{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	float:left;
	padding-left:30px;
	padding-top:5px;
}

a.toplink{
	text-align:center;
	word-spacing:.4em;
	color:#a2a2a2;
}

a.toplink:hover{
	color:black;
}

/* Centered text */
.centered {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Fira Sans', sans-serif;
    color:white;
}

/*Centering in columns*/
.col-center{
	position: absolute;
	text-align: center;
	padding-top:20px;
	padding-bottom:80px;
}

#header{
	position:fixed;
	top:0;
	left:0;
	text-align:center;
	background-color: white;
	z-index:1000;
	width:100%;
	padding-bottom:10px;
	padding-top: 10px;
}

#nav{
	text-align:center;
	float:right;
	padding-right:30px;
	padding-top:15px;
}

#hello{
	position:relative;
	text-align:center;
	font-family: 'Roboto Mono', monospace;
	font-size:30px;
}

/*hello header*/
.helloheader{
	font-size:48px;
}

/*general description*/
.desc1{
	top:38%;
	font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	width:700px;
}

/*simple button link*/
.arrowbtn{
	font-size:24px;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
}


#about{
	background-color: white;
}

/*columns for about section*/
.col-wrapper{
	position: relative;
	text-align:center;
	width:50%;
	left:25%
}

/*titles for each column*/
.col-title{
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 28px;
}

/*descriptions for each column*/
.col-desc{
	padding-left: 90px;
	padding-right: 90px;
	font-size: 18px;
}

#resume{
	width:100%;
	background-color:#D8D8D8;
	position:relative;
}

#projects{
	height:1177px;
	width:100%;
}

#portfolio{
	height:1177px;
	width:100%;
}

#contact{
	height:1177px;
	width:100%;
}
